@page
@model Calculator.Web.Pages.IndexModel
<div class="calculator">
    <textarea class="calculator-screen" value="" disabled></textarea>
    <div class="calculator-keys">

        <button type="button" class="operator" value="Delete">C</button>
        <button type="button" class="operator" value="/">&divide;</button>
        <button type="button" class="operator" value="*">&times;</button>
        <button type="button" class="operator" value="-">-</button>

        <button type="button" value="7">7</button>
        <button type="button" value="8">8</button>
        <button type="button" value="9">9</button>

        <button type="button" value="4">4</button>
        <button type="button" value="5">5</button>
        <button type="button" value="6">6</button>

        <button type="button" value="1">1</button>
        <button type="button" value="2">2</button>
        <button type="button" value="3">3</button>

        <button type="button" class="zero" value="0">0</button>
        <button type="button" value=".">.</button>

        <button type="button" class="plus operator" value="+">+</button>
        <button type="button" class="equal-sign operator" value="Enter">=</button>
    </div>
</div>
@section scripts
{
    <script src="/js/index.min.js" asp-append-version="true"></script>
}
